@page "/"

@using TED.Services
@using TED.Models

@inject FileDirectoryService FileDirectoryService
@inject TagDataService TagDataService

<div class="row">
    <div class="col-9">
        <select class="form-select" aria-label="File Directories" @onchange="SetSelectedDirectory">
            <option value="" disabled selected>Select a Directory</option>
            @foreach (var fileDirectory in fileDirectories)
            {
                <option value="@fileDirectory.FullPath">@fileDirectory.Name</option>
            }
        </select>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" disabled="@(string.IsNullOrEmpty(_selectedFileDirectory))" @onclick="DiscoverMusicInSelectedDirectory"><i class="bi bi-arrow-repeat"></i></button>
        <button type="button" class="btn btn-primary" disabled="@(string.IsNullOrEmpty(_selectedFileDirectory))" @onclick="GenerateTagDataForSelectedDirectories"><i class="bi bi-archive"></i></button>
    </div>
</div>

<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" width="5%"><input class="form-check-input" type="checkbox" @onchange="ToggleSelectAll"></th>
                <th scope="col">Name</th>
                <th scope="col">Media Count</th>
                <th scope="col" class="text-end">Has Tag Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dd in discoveredDirectories)
            {
            <tr data-id="@(dd.Id)">
                <th scope="row"><input class="form-check-input" @bind="dd.IsSelected" type="checkbox"></th>
                <td>@dd.Name</td>
                <td>@dd.NumberOfMediaFound</td>
                <td class="text-end"><i class="bi bi-check-circle-fill @(dd.HasTagData ? "tagdata-found" : "")"></i></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th scope="row"></th>
                <td>Directories: @(discoveredDirectories.Count())</td>
                <td>Media: @(discoveredDirectories.Sum(x => x.NumberOfMediaFound))</td>
                <td class="text-end">Has Tag Data: @(discoveredDirectories.Count(x => x.HasTagData))</td>
            </tr>
        </tfoot>
    </table>
</div>


@code {
    private IEnumerable<FileDirectory> fileDirectories;
    private string _selectedFileDirectory = null;
    private IEnumerable<FileDirectory> discoveredDirectories = Enumerable.Empty<FileDirectory>();

    void ToggleSelectAll(ChangeEventArgs e)
    {
        bool selectedValue = (bool)e.Value;
        foreach(var dd in discoveredDirectories)
        {
            dd.IsSelected = selectedValue;
        }
    }

    void SetSelectedDirectory(ChangeEventArgs e)
    {
        _selectedFileDirectory = e.Value.ToString();
    }

    async Task GenerateTagDataForSelectedDirectories()
    {
        foreach(var selectedDirectory in discoveredDirectories.Where(x => x.IsSelected).ToArray())
        {
            await TagDataService.CreateTagDataForFileDirectoryAsync(selectedDirectory);
            selectedDirectory.IsSelected = false;
        }
    }

    void DiscoverMusicInSelectedDirectory()
    {
        discoveredDirectories = FileDirectoryService.GetFileDirectories(_selectedFileDirectory, System.IO.SearchOption.TopDirectoryOnly);
    }

    protected override void OnInitialized()
    {
        fileDirectories = FileDirectoryService.GetFileDirectories(null); base.OnInitialized();
    }
}
